body{   
    margin:10px;
    background-color: blac
}
#Conversions{
    justify-content: center;
    display: grid;
}
#home{
    background-color:  #483355;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
}

header {
    font-size: 30px;
    color: rgb(240, 234, 245);
    float: left;
    padding-left: 2cm;
  }
/* Navigation Bar Container*/
.topdiv {
    float: right;
    padding-right: 1cm;
  }

/* Navigation Bar Buttons */
.topmenu {
    color: lightgray;
    background-color:   #483355;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration:none;
    border-radius: 1mm;
}
.topmenu:hover {
    color: red;
    font-weight: bolder;
    background-color: #e9810a;
    text-decoration: underline;
}
figure{
    float:left;
    justify-self:auto;

}
figcaption{
    text-align: center;
    font-size: 17px;
    color:black;
}
button{
    font-size: 20px;
    border-radius: 40px;
    border:transparent;
    width:fit-content;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
}
button:hover{
    cursor:pointer;
}
/* The calculator panel */

#temperature{
    border-top-color: green;
    border-radius: 50px;
}

legend {
    font-size: 30px;
    font-weight: bolder;
}
.iconbutton{
    border-radius:100%;
    background-color: #e9810a;
    display:flex;
    justify-content: center;
}